.empty-list-heading {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #DFDDDD;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.add-movies {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 0.875rem;
    color: #363636;
}